source_this_to_activate
run_this_to_activate
apache/static/
.idea
__pycache__/
*pyc
*~
*orig
*bak
*.pyd
.idea/
db.sqlite3
apache/oarepo.wsgi
debug.log
oarepo/admin_auth.cfg
oarepo/settings.py
oarepo.egg-info
*.sqlite3
