{% extends "baseOArepo/base.html" %}
{% load i18n %}
{% load l10n %}
{% load fedoralink_tags %}
{% load dcterms_dokumenty %}

{% block title %}OArepo -  {% endblock %}


{% block left_block %}

{% endblock %}

{% block content %}
    <h1>{% block h1 %}{% endblock %}</h1>

    <div class="container-fluid">
        {% block inner_content %}
            <a href="{% url 'romiste_scientistPerson:index' %}">Scientists</a><br>
            <a href="{% url 'romiste_romanyPerson:index' %}">Respondents</a><br>
            <a href="{% url 'romiste_place:index' %}">Places</a><br>
            <a href="{% url 'romiste_romanyThing:index' %}">Recordings</a><br>
        {% endblock %}
    </div>
{% endblock %}


