{% load i18n %}
{% load staticfiles %}
{% load dcterms_dokumenty %}
{% load fedoralink_tags %}

{# item: instance AccreditationDocument #}
{# attachments: instance AccreditationDocumentAttachment #}


    <div class="panel panel-default">
        <div class="panel-heading download">
            <h4><i class="fa fa-fw fa-download"></i> {% trans "Stáhnout dokumenty" %}</h4>
        </div>
        <div class="panel-body">
            <ul class="stahnout_dokumenty">
                            <li><a href="{% url 'dcterms:download' bitstream_id=document.id|id_from_path %}">{{ document.filename }}</a></li>
            </ul>
        </div>
    </div>
