{% extends "baseOArepo/detail.html" %}
{% load i18n %}
{% load l10n %}
{% load fedoralink_tags %}
{% load dcterms_dokumenty %}
{% load romiste_tags %}
{% load staticfiles %}

{% block title %}{{ object.title|rdf2lang }} - {% endblock %}

{% block left_block %}

    {% with object.id|get_document as document %}

        {% if document.filename != None %}
            {% include "baseOArepo/fragments/stahovani.html" %}
        {% endif %}
    {% endwith %}

    {%  if object.video %}
        <div class="panel panel-default">
            <div class="panel-heading download">
                <h4><i class="fa fa-fw fa-download"></i> {% trans "Download video" %}</h4>
            </div>
            <div class="panel-body">
                <ul class="download_documents">
                                <li><a href="{{ object.video }}">{{ object.video }}</a></li>
                </ul>
            </div>
        </div>
    {% endif %}

    {{ block.super }}

{% endblock %}

{% block h1 %}{{ object.title|rdf2lang }}{% endblock %}

{% block detail_fields %}

    {% with excluded_fields='video' %}
        {{ block.super }}
    {% endwith %}

    {%  if object.video %}
        <div class="video">
            <video width="500" controls>
                <source src="{{ object.video }}" type="video/webm">
            </video>
        </div>
    {% endif %}

{% endblock %}


