{% extends "baseOArepo/base.html" %}
{% load i18n %}
{% load l10n %}
{% load fedoralink_tags %}
{% load dcterms_dokumenty %}
{% load romiste_tags %}
{% load staticfiles %}

{% block title %}{{ object.title|rdf2lang }} - {% endblock %}


{% block left_block %}
    {% with object.id|get_document as document %}

        {% if document.filename != None %}
            {% include "baseOArepo/fragments/stahovani.html" %}
        {% endif %}
    {% endwith %}
    {%  if object.video %}
        <div class="panel panel-default">
            <div class="panel-heading download">
                <h4><i class="fa fa-fw fa-download"></i> {% trans "Download video" %}</h4>
            </div>
            <div class="panel-body">
                <ul class="download_documents">
                                <li><a href="{{ object.video }}">{{ object.video }}</a></li>
                </ul>
            </div>
        </div>
    {% endif %}

    {% block left_addon %}
        <div id="left-addon"></div>
    {% endblock %}

    {% block back_to_list %}
        {% with index_path=appname|add:":index" %}
            <a href="{% url index_path %}" class="btn btn-default"><img
                    src="{% static "baseOArepo/images/arrow_sans_left.png" %}"
                    id="arrow-left"/>{% trans "Back to List" %}</a>
        {% endwith %}
    {% endblock %}

{% endblock %}

{% block content %}
    <h1>{% block h1 %}{{ object.title|rdf2lang }}{% endblock %}</h1>

    <div class="container-fluid">
        {% block inner_content %}

            {% for name, value, meta_name in object|get_fields %}
                {% if meta_name != 'video' %}
                    {% if value %}
                        {% render_field_view object meta_name name value %}
                    {% endif %}
                {% endif %}

            {% endfor %}

            {%  if object.video %}
                <div class="video">
                    <video width="500" controls>
                        <source src="{{ object.video }}" type="video/webm">
                    </video>
                </div>
            {% endif %}

            <div class="childrens">
                {% render_links object 'children' %}
            </div>

            {% with edit_path=appname|add:":edit" %}
                <a href="{% url edit_path pk=object.id|id_from_path %}" class="btn btn-primary">{% trans "Edit" %}</a>
            {% endwith %}

        {% endblock %}
    </div>
{% endblock %}


