{% extends "dcterms/base.html" %}
{% load i18n %}
{% load l10n %}
{% load dcterms_dokumenty %}

{% block title %}OArepo - {{ object.title }} {% endblock %}


{% block h1 %}
    {{ object.title|rdf2lang }}
{% endblock %}




{% block inner_content %}

    {% for name, value in object|get_fields %}
        <div class="nazev_property">{{ name }}</div>
        <div class="hodnota_property">
            {{ value }}
        </div>
    {% endfor %}

    <div class="children">
    {% for child in object.children %}
        <div class="child">
            <a href="{{ child.id|id_from_path }}">{{ child.title|rdf2lang }}</a>
        </div>
    {%  endfor %}
    </div>


{% endblock %}

    {% block rightbox %}
        {% with object.id|get_document as document %}

        {% if document.filename != None %}
            {% include "dcterms/fragments/stahovani.html" %}
        {% endif %}
        {% endwith %}
    {% endblock %}
