<html>
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}CESNET DataCare Repository</title>

    <link href="{% static "baseOArepo/css/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "baseOArepo/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "baseOArepo/js/jquery-2.2.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "baseOArepo/bootstrap/js/bootstrap.js" %}" type="text/javascript"></script>
    <script src="{% static "baseOArepo/js/fileselect.js" %}"></script>
    <script src="{% static "bootstrap3-dialog/js/bootstrap-dialog.min.js" %}"></script>
    <link href="{% static "bootstrap3-dialog/css/bootstrap-dialog.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "fedoralink/google-maps.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "fedoralink/fedoralink.css" %}" rel="stylesheet" type="text/css">

    <!-- TODO: add domain for the API key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZIruvU8_AvyLEZ1YcG_49mOFND8wOWmk&libraries=places">
    </script>

    <script>
        google_key = "AIzaSyAZIruvU8_AvyLEZ1YcG_49mOFND8wOWmk";
    </script>

    <script src="{% static "fedoralink/dynamic_multi_value.js" %}"></script>
    <script src="{% static "fedoralink/google-maps.js" %}"></script>

{% endblock %}

{% block navigation %}
    <nav class="navbar navbar-custom navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="flags pull-left col-md-3">
                <div class="cl_item cl_link cl_flag navbar-text pull-right"><a class="cl_label" href="/{{ appname }}/en/"><img
                        alt="english flag"
                        src="data:image/gif;base64,R0lGODlhEgANALMAAPv7+wAAPPsAAAUVh52dnfZgVXOQxU50qyhNp6Zxmb/I4qOx1/iPjVRuwXMQKdOi0CH5BAAAAAAALAAAAAASAA0AAARtkMhJKz3roK2cU0OIOIdkMIBiGEBRAE2zvIaELAzaAIIAM7SBzdB4vHi+FwgRkCgA0GgvGlVIHIWedrt1OKnQKdhKGDQGT59YkAg1yywXAgkYtASNd3yxoYcWPAgSBw4hAwEdHwGLAQZvFpAUEQA7"></a>
                </div>
                <div class="cl_item cl_link cl_flag navbar-text pull-right"><a class="cl_label" href="/{{ appname }}/cs/"><img
                        alt="česká vlajka"
                        src="data:image/gif;base64,R0lGODlhEgANALMAADV4zfLy8s3NzUiCz+cAAJ2dnexvbbfN6+3t7d4AAPj4+N/f3+hfXZIzXKK/5MFZbSH5BAAAAAAALAAAAAASAA0AAARNsMhJKx0H6b26X4I0YEpplkEahMU4OKeiBsgqujCqbqw7ALDZBtFzAQAPg9LAaDJvP0CDQE1Yr4nbcUolYK9abvVrvTXIaNEZTba4LREAOw=="></a>
                </div>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% with index_path=appname|add:":index" %}
                <a class="navbar-brand" href="{% url index_path %}">CESNET DataCare Repository <span class="text-muted">Prototype</span></a>
                {% endwith %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% with index_path=appname|add:":index" %}
                    <li><a href="{% url index_path %}"><span class="menu-item">{% trans "Home" %}</span></a></li>
                    {% endwith %}
                    <li><a href="#"><span class="menu-item">{% trans "Repositories" %}</span></a></li>
                    <li><a href="#"><span class="menu-item">{% trans "Log in" %}</span></a></li>
                </ul>


            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
{% endblock %}



<div class="content">

    <div class="col-md-3 cesnet-left-block">
        <img src="{% static "baseOArepo/images/logoCesnet.png" %}" id="logoCesnet"/>
        {% block left_block %}
        {% endblock %}
    </div>
    <div class="col-md-9 cesnet-content">
        {% block content %}
            <div class="row">
                <h1>{% block h1 %}{% endblock %}</h1>
            </div>

            <div class="row">
                {% block inner_content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
</div>

<div style="clear: both"></div>

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="col-md-3">
                CESNET Data Care
            </div>
            <div class="col-md-9">
                Copyright 2014-2016 CESNET, z.s.p.o.
            </div>
        </div>
    </footer>
{% endblock %}
</html>
