{% extends "baseOArepo/base.html" %}
{% load i18n %}
{% load l10n %}
{% load fedoralink_tags %}
{% load dcterms_dokumenty %}

{% block title %}OArepo - {{ object.title|rdf2lang }} {% endblock %}


{% block left_block %}
    {% with object.id|get_document as document %}

        {% if document.filename != None %}
            {% include "baseOArepo/fragments/stahovani.html" %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{% block h1 %}{{ object.title|rdf2lang }}{% endblock %}</h1>

    <div class="container-fluid">
        {% block inner_content %}

            {% for name, value, meta_name in object|get_fields %}
                {%  if value %}
                    {% render_field_view object meta_name name value %}
                {% endif %}

            {% endfor %}

            <div class="childrens">
            {% render_links object 'children' %}
            </div>

            <a href="/{{ appname }}/edit/{{ object.id|id_from_path }}" class="btn btn-primary">{%  trans "Edit" %}</a>

        {% endblock %}
    </div>
{% endblock %}


