{% extends "baseOArepo/base.html" %}
{% load i18n %}
{% load l10n %}
{% load fedoralink_tags %}
{% load dcterms_dokumenty %}

{% block title %}OArepo - {% trans "Repositories" %} {% endblock %}


{% block left_block %}

{% endblock %}

{% block content %}
    <h1>{% block h1 %}OArepo - {% trans "Repositories" %}{% endblock %}</h1>

    <div class="container-fluid list-repositories">
        {% block inner_content %}
            <div class="repository pull-left col-md-4">
                <div class="repository-list-item pull-left">
                    <div class="repository-header"><h4>{% trans "DCterms" %}</h4></div>
                    <div class="repository-detail">
                        The Dublin Core Schema is a small set of vocabulary terms that can be used to describe web
                        resources (video, images, web pages, etc.), as well as physical resources such as books or CDs,
                        and objects like artworks.
                        <a href="{% url 'dcterms:index' %}"
                           class="btn btn-default">{% trans "Show" %}</a>
                    </div>
                </div>
            </div>
            <div class="repository pull-left col-md-4">
                <div class="repository-list-item">
                    <div class="repository-header"><h4>{% trans "Roma studies" %}</h4></div>
                    <div class="repository-detail">
                        Roma studies can be defined as a discipline dealing thematically with the Roma ethnic group in a
                        multidisciplinary methodological context.
                        <a href="{% url 'romiste:index' %}" class="btn btn-default">{% trans "Show" %}</a>
                    </div>
                </div>
            </div>
            <div class="repository pull-left col-md-4">
                <div class="repository-list-item pull-right">
                    <div class="repository-header"><h4>{% trans "Department of Organic Chemistry" %}</h4></div>
                    <div class="repository-detail">
                        Lectures delivered by members of the Department:
                        Toxicology and ecology, Organic chemistry I, II and III,
                        Structural analysis, Reactivity of organic compounds,
                        Molecular design, Organic synthesis I and II,
                        Quantum organic chemistry, Farmacochemistry,
                        Organic stereochemistry, Organometallic chemistry,
                        Organic chemistry of selected elements
                        <a href="#" class="btn btn-default">{% trans "Show" %}</a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}


