{% extends "web/repository/base.html" %}
{% load i18n %}
{% load l10n %}
{% load fedoralink_tags %}
{% load dcterms_dokumenty %}

{% block title %}Administration - datatypes{% endblock %}

{% block head %}
    {{ block.super }}
    <style>
        .cesnet-content {
            min-height: 0px !important;
        }
    </style>
{% endblock %}

{% block left_block %}

{% endblock %}

{% block h1 %}Administration - datatypes{% endblock %}


{% block widecontent %}

    Lorem ipsum dolor sit amet

{% endblock %}


